/* Required for full background image */

html,
body,
header,
#intro-section {
    height: 100%;
}

@media (max-width: 740px) {
    html,
    body,
    header,
    #intro-section {
        height: 100vh;
    }
}

.page-section {
	padding: 100px 0;
  }

.header-one{

 font-family: 'Open Sans', 'Helvetica Neue';

}

.intro-name{
  font-family:  'Open Sans', 'Helvetica Neue';
}


.top-nav-collapse, .page-footer {
	background: linear-gradient(to right, rgba(204, 83, 51, 0.6), rgba(35, 7, 77, 0.6))
	!important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
		background: -webkit-linear-gradient(to right, rgba(204, 83, 51, 0.6), rgba(35, 7, 77, 0.6))
		!important;
    }
}

.rgba-gradient {
    background: rgba(35, 7, 77, 0.6);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(204, 83, 51, 0.6), rgba(35, 7, 77, 0.6));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(204, 83, 51, 0.6), rgba(35, 7, 77, 0.6));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.img-gradient:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(220, 66, 37, 0.5)), color-stop(100%, rgba(0, 47, 75, 0.5)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 47, 75, 0.5) 0%, rgba(220, 66, 37, 0.5) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 47, 75, 0.5) 0%, rgba(220, 66, 37, 0.5) 100%);
    /* Opera 11.10+ */
    /* IE10+ */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 47, 75, 0.5)), to(rgba(220, 66, 37, 0.5)));
    background: linear-gradient(to bottom, rgba(0, 47, 75, 0.5) 0%, rgba(220, 66, 37, 0.5) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
}



/*-------------- Portfolio area starts-----------*/


.por-text-details .col-xs-4 p {
	font-weight: bold;
	text-transform: uppercase;
	color: #E91E63;
}

.mfp-zoom-out .mfp-with-anim {
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}
.mfp-zoom-out.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.mfp-zoom-out.mfp-ready .mfp-with-anim {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.mfp-zoom-out.mfp-ready.mfp-bg {
	opacity: 0.8;
}
.mfp-zoom-out.mfp-removing .mfp-with-anim {
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	opacity: 0;
}
.mfp-zoom-out.mfp-removing.mfp-bg {
	opacity: 0;
}
.por-text h2 {
	text-transform: uppercase;
	margin: 0;
	font-size: 22px;
	margin-bottom: 15px;
	border-bottom: 3px solid #E91E63;
	padding-bottom: 10px;
}

.white-popup {
	position: relative;
	background: #FFF;
	padding: 30px;
	width: auto;
	max-width: 60%;
	margin: 0 auto;
}

.por-text-details .col-xs-4 p {
	font-weight: bold;
	text-transform: uppercase;
}

.hovereffect {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: pointer;
	background: rgba(233,30,99,0.9);
}

.hovereffect .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	padding: 3em;
	text-align: left;
}

.hovereffect img {
	display: block;
	position: relative;
	max-width: none;
	width: calc(100% + 60px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
	transition: opacity 0.35s, -webkit-transform 0.45s;
	-o-transition: opacity 0.35s, transform 0.45s;
	transition: opacity 0.35s, transform 0.45s;
	transition: opacity 0.35s, transform 0.45s, -webkit-transform 0.45s;
	-webkit-transform: translate3d(-40px,0,0);
	transform: translate3d(-40px,0,0);
}

.hovereffect h2 {
	text-transform: uppercase;
	color: tomato;
	position: relative;
	font-size: 17px;
	background-color: transparent;
	padding: 5% 0 10px 0;
	text-align: left;
	opacity: 0;
}

.hovereffect:hover h2 {
	color: #fff;
	opacity: 1;
}

.hovereffect .overlay:before {
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
	border: 1px solid #fff;
	content: '';
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
	transition: opacity 0.35s, -webkit-transform 0.45s;
	-o-transition: opacity 0.35s, transform 0.45s;
	transition: opacity 0.35s, transform 0.45s;
	transition: opacity 0.35s, transform 0.45s, -webkit-transform 0.45s;
	-webkit-transform: translate3d(-20px,0,0);
	transform: translate3d(-20px,0,0);
}

.hovereffect a, .hovereffect p {
	color: #FFF;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
	transition: opacity 0.35s, -webkit-transform 0.45s;
	-o-transition: opacity 0.35s, transform 0.45s;
	transition: opacity 0.35s, transform 0.45s;
	transition: opacity 0.35s, transform 0.45s, -webkit-transform 0.45s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
}

.hovereffect:hover img {
	opacity: 0.2;
	filter: alpha(opacity=20);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.hovereffect:hover .overlay:before,
.hovereffect:hover a, .hovereffect:hover p {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.no-pad {
	padding: 0;
}

.project{
  width: 375px;
  height: 227px;
}

/*--------------Portfolio area Ends-----------*/
